@import "mixin";


$mainColor: #3669c3;

$fontColor-deep: #333;
$fontColor: #666;
$fontColor-light: #999;

$borderColor: #e3e3e3;

$success: #72c040;

$warning: #f0af41;

$error: #e23c39;

// theme green
$green-deep: $success;
$green: #c2e899;
$green-bg: #dff5c3;
$green-hover: #f8feef;

// theme blue
$blue-deep: #3c91f7;
$blue: #9ed4fb;
$blue-bg: #c2e6fc;
$blue-hover: #e9f7fe;

// theme yellow
$yellow-deep: $warning;
$yellow: #f9d69a;
$yellow-bg: #fce7bf;
$yellow-hover: #fef7e8;
